<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Drugofilter</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="Wrapper">
        <div class="Title">
            <img class="Title__Image" src="src/image/title.png" alt="title">
        </div>
        <div class="DrugoFIlter">
            <div class="DrugoFIlter__Header">
                <div class="DrugoFIlter__Header_title">
                    <p class="DrugoFIlter__Header_titleText">
                        Выберете друзей
                    </p>
                </div>
                <div class="DrugoFIlter__Header_close">
                    <img class="DrugoFIlter__Header_closeImage" src="src/image/close.png" alt="close">
                </div>
            </div>
            <div class="DrugoFIlter__Form">
                <div class="DrugoFIlter__Form_search">
                    <form class="SearchForm">
                        <input class="SearchField" type="text" placeholder="Начните вводить имя друга">
                    </form>
                </div>
                <div class="DrugoFIlter__Form_name">
                    <form class="NameForm">
                        <input class="NameField" type="text" placeholder="Название">
                    </form>
                </div>
            </div>
            <div class="DrugoFIlter__Body">
                <div class="FriendsList">
                    <p class="FriendsList__title">Ваши друзья</p>
                    <div class="List">
                    <!-- ------------------------------------------------------ -->
                        <div class="Friend">
                            <div class="Friend__Avatar">
                                <img src="src/image/test_avatar.png" alt="avatar" class="Friend__AvaterImage">
                            </div>
                            <div class="Friend__Name">
                                <p class="Friend__NameText">Artem Baratanov</p>
                            </div>
                            <div class="IconAdd">
                                <img class="IconAdd__Image" src="src/image/add.png" alt="add">
                            </div>
                        </div>
                        <div class="Friend">
                            <div class="Friend__Avatar">
                                <img src="src/image/test_avatar.png" alt="avatar" class="Friend__AvaterImage">
                            </div>
                            <div class="Friend__Name">
                                <p class="Friend__NameText">Artem Baratanov</p>
                            </div>
                            <div class="IconAdd">
                                <img class="IconAdd__Image" src="src/image/add.png" alt="add">
                            </div>
                        </div>
                        <div class="Friend">
                            <div class="Friend__Avatar">
                                <img src="src/image/test_avatar.png" alt="avatar" class="Friend__AvaterImage">
                            </div>
                            <div class="Friend__Name">
                                <p class="Friend__NameText">Artem Baratanov</p>
                            </div>
                            <div class="IconAdd">
                                <img class="IconAdd__Image" src="src/image/add.png" alt="add">
                            </div>
                        </div>
                        <div class="Friend">
                            <div class="Friend__Avatar">
                                <img src="src/image/test_avatar.png" alt="avatar" class="Friend__AvaterImage">
                            </div>
                            <div class="Friend__Name">
                                <p class="Friend__NameText">Artem Baratanov</p>
                            </div>
                            <div class="IconAdd">
                                <img class="IconAdd__Image" src="src/image/add.png" alt="add">
                            </div>
                        </div>
                        <div class="Friend">
                            <div class="Friend__Avatar">
                                <img src="src/image/test_avatar.png" alt="avatar" class="Friend__AvaterImage">
                            </div>
                            <div class="Friend__Name">
                                <p class="Friend__NameText">Artem Baratanov</p>
                            </div>
                            <div class="IconAdd">
                                <img class="IconAdd__Image" src="src/image/add.png" alt="add">
                            </div>
                        </div>
                        <div class="Friend">
                            <div class="Friend__Avatar">
                                <img src="src/image/test_avatar.png" alt="avatar" class="Friend__AvaterImage">
                            </div>
                            <div class="Friend__Name">
                                <p class="Friend__NameText">Artem Baratanov</p>
                            </div>
                            <div class="IconAdd">
                                <img class="IconAdd__Image" src="image/add.png" alt="add">
                            </div>
                        </div>
                        <div class="Friend">
                            <div class="Friend__Avatar">
                                <img src="src/image/test_avatar.png" alt="avatar" class="Friend__AvaterImage">
                            </div>
                            <div class="Friend__Name">
                                <p class="Friend__NameText">Artem Baratanov</p>
                            </div>
                            <div class="IconAdd">
                                <img class="IconAdd__Image" src="src/image/add.png" alt="add">
                            </div>
                        </div>
                        <div class="Friend">
                            <div class="Friend__Avatar">
                                <img src="src/image/test_avatar.png" alt="avatar" class="Friend__AvaterImage">
                            </div>
                            <div class="Friend__Name">
                                <p class="Friend__NameText">Artem Baratanov</p>
                            </div>
                            <div class="IconAdd">
                                <img class="IconAdd__Image" src="src/image/add.png" alt="add">
                            </div>
                        </div>
                        <div class="Friend">
                            <div class="Friend__Avatar">
                                <img src="src/image/test_avatar.png" alt="avatar" class="Friend__AvaterImage">
                            </div>
                            <div class="Friend__Name">
                                <p class="Friend__NameText">Artem Baratanov</p>
                            </div>
                            <div class="IconAdd">
                                <img class="IconAdd__Image" src="src/image/add.png" alt="add">
                            </div>
                        </div>
                        <div class="Friend">
                            <div class="Friend__Avatar">
                                <img src="src/image/test_avatar.png" alt="avatar" class="Friend__AvaterImage">
                            </div>
                            <div class="Friend__Name">
                                <p class="Friend__NameText">Artem Baratanov</p>
                            </div>
                            <div class="IconAdd">
                                <img class="IconAdd__Image" src="src/image/add.png" alt="add">
                            </div>
                        </div>
                        <div class="Friend">
                            <div class="Friend__Avatar">
                                <img src="src/image/test_avatar.png" alt="avatar" class="Friend__AvaterImage">
                            </div>
                            <div class="Friend__Name">
                                <p class="Friend__NameText">Artem Baratanov</p>
                            </div>
                            <div class="IconAdd">
                                <img class="IconAdd__Image" src="src/image/add.png" alt="add">
                            </div>
                        </div>
                    <!-- ------------------------------------------------------ -->
                    </div>
                </div>
                <div class="FriendsList">
                    <p class="FriendsList__title">Друзья в списке</p>
                    <div class="Friend">
                        <div class="Friend__Avatar">
                            <img src="src/image/test_avatar.png" alt="avatar" class="Friend__AvaterImage">
                        </div>
                        <div class="Friend__Name">
                            <p class="Friend__NameText">Artem Baratanov</p>
                        </div>
                        <div class="IconAdd">
                            <img class="IconAdd__Image" src="src/image/close_grey.png" alt="add">
                        </div>
                    </div>
                    <div class="Friend">
                        <div class="Friend__Avatar">
                            <img src="src/image/test_avatar.png" alt="avatar" class="Friend__AvaterImage">
                        </div>
                        <div class="Friend__Name">
                            <p class="Friend__NameText">Artem Baratanov</p>
                        </div>
                        <div class="IconAdd">
                            <img class="IconAdd__Image" src="src/image/close_grey.png" alt="add">
                        </div>
                    </div>
                </div>
            </div>
            <div class="DrugoFIlter__Footer">
                <div class="DrugoFIlter__Button">
                    <p class="DrugoFIlter__ButtonText">Сохранить</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ModalMask"></div>
    <script type="text/javascript">
        var friends = document.querySelectorAll('.Friend');
        for (var i = 0; i < friends.length; i++) {
            friends[i].addEventListener('click', function(event) {
                event.preventDefault();
                this.classList.toggle('Selected__Friend');
            })
        }
      </script>
</body>
</html>